<header class="main-header">
	<div class="header-container">
		<img src="/img/headshot.jpg" class="headshot">
		<div class="header-text">
			<a href="{{ .Site.BaseURL }}">
				<h1 class="header-title">Ongoing Fascination Burnout</h1>
			</a>
			<p class="header-subtitle" >Josh Barratt uploads thoughts to the internet</p>
		</div>
		<nav class="main-nav">
			<ul class="main-nav-list">
				<li><a  href="/post">📝 All Posts</a></li>
				<li><a  href="/about">💬 About Me</a></li>
			</ul>
		</nav>
	</section>
</header>
